#######
# Unity Ignores
# 
# !!! Warning !!!
#
# .. You must convert Unity to using 
# Metafiles *before* you use this, 
# or you WILL lose data!
# 

# OS X only: 
.DS_Store
*.swp
*.Trashes

# All Platforms
FutileDemos
Library
Assets/Resources
*.jpg
*.png
*.wav
Temp
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs

*.apk
